<h3>Fund: </h3><% @portfolio.fund %>
<h3>Commitment: </h3><% @portfolio.commitment %>
<h3>Paid in: </h3><% @portfolio.paid_in %>
<h3>Distributed: </h3><% @portfolio.distributed %>
<h3>Net Asset Value: </h3><% @portfolio.net_asset_value %>