<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>AltDash Help | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get from us at
      <a href="http://railstutorial.org/help">Tutorial help page</a>.
      To get help on a sample, see the
      <a href="http://railstutorial.org/book">Tutorial book</a>.
    </p>
  </body>
</html>