<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>AltDash | Home</title>
  </head>
  <body>
    <h1>Welcome to your Alternative Investments Dashboard</h1>
    <p>
    	Please log in or sign up
    </p>
  </body>
</html>
